
@{
    Layout = "_Layout";
    <div class="hero-text">
        <h1>Kontakt</h1>
    </div>
}


<div class="contact">
    <!-- ved ikke om videoen skal være med -->
    <!-- <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="Wave-video.mp4" type="video/mp4">
    </video> -->
    <div class="container">
        <div class="contact-form">
            <form>
                <div class="inputgroup">
                    <input type="text" name="fname" required="required">
                    <span>Fornavn</span>
                </div>
                <div class="inputgroup">
                    <input type="text" name="lname" required="required">
                    <span>Efternavn</span>
                </div>
                <div class="inputgroup">
                    <input type="email" name="email" required="required">
                    <span>Mail</span>
                </div>
                <div class="inputgroup">
                    <textarea required="required"></textarea>
                    <span>Besked</span>
                </div>
                <div class="inputgroup">
                    <input class="sub" type="submit" value="Send">
                </div>
            </form>
        </div>
        <div class="surfer">
            <img src="Assets/Images/surfer2.png">
        </div>
    </div>
</div>
