@{
    Layout = null;
}
@{
    ViewData["Title"] = "ShowUsers";
}

<h1> All Users :</h1>
@foreach (User user in ViewBag.Users)
{
    <li>
        <label>Username: </label>
        @user.UserName.ToString(),

        <label>email: </label>
        @user.Email.ToString(),

        <label>password: </label>
        @user.Password.ToString()
    </li>
}