@model surf_spotter_dot_net_core.Models.Account.LoginViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<body>
    <div class="login">
        <div class="overlay">
            <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                <source src="Assets/Images/Oceanwaves-login.mp4" type="video/mp4">
            </video>
        </div>


        <div class="container">

            <div class="login-form">
                <form action="" method="post">
                    <h2 id="login">Login</h2>
                    <div asp-validation-summary="All" class="input-validation-error"></div>

                    <div class="form-group">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="field-validation-error"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input type="password" asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="field-validation-error"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RememberMe"></label>
                        <input type="checkbox" asp-for="RememberMe" />
                        <span asp-validation-for="RememberMe" class="field-validation-error"></span>
                    </div>
                    <div>
                        <label>&nbsp;</label>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <div class="inputgroup">
                        <input type="button" class="sub" onclick="location.href = 'Signup';" value="Registrer">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <p class="copyright">
                Copyright &copy; 2020, Team Y4 - All Rights Reserved
            </p>
            <div class="social-list">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>

            </div>

            <script src="login.js"></script>
</body>

</html>